body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section{
  padding: 5rem;
}

.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}
.form{
  display: flex;
  justify-content: center;
}

.clr-all-btn{
background-color: orangered;
color: white;
border-radius: 5px;
outline: auto;
}

